# List of untracked files to ignore
data/VGLabAgingDementia-O2contenthgbglc_DATA_2025-09-07_1222.csv
data/VGLabAgingDementia-VisionScanDataForVla_DATA_2025-09-06_1513.csv
data/Vision PET scans with pulse ox and glucose data 20250907122700.xlsx
data/Vision PET scans with pulse ox and glucose data.xlsx
